.galleryslider .item img {
  border-radius: 0;
}
.galleryslider .item {
  border-radius: 0;
  background-color: transparent;
}
.home-gallery .item {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  background-color: transparent;
}
.home-gallery .item img {
  height: 500px;
  padding: 5%;
  border-radius: 0;
  width: auto;
  margin: auto;
}
.news {
  width: 160px;
}
.news-scroll a {
  text-decoration: none;
}
.dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: rgb(207, 23, 23);
  border-radius: 50%;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .home-gallery .item img {
    height: 250px;
    padding: 5%;
    border-radius: 0;
    width: auto;
    margin: auto;
  }
  .team-description h4,
  .team-description table {
    color: #fff;
  }
  .site-main-slider {
    height: 300px;
  }
  .sequence-slide {
    height: 300px !important;
  }
  #gallery {
    padding-bottom: 5%;
  }
  .site-main-slider h1 {
    font-size: 3vh;
    line-height: 1.5;
  }
  #placement {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .site-white-section h2,
  .site-dark-section h2,
  .site-grey-section h2 {
    font-size: 2.8vh;
  }
  .accordion-item .heading {
    font-size: 1.5vh !important;
  }
  .site-white-section h3,
  .site-dark-section h3,
  .site-grey-section h3,
  .inner-page-white-section h3,
  .inner-page-grey-section h3 {
    font-size: 3vh !important;
  }
}
.internship-list {
  text-align: left;
}
.internship-list li {
  padding: 10px 5px;
  font-size: 1.2rem;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}


.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.site-box-2 {
  padding: 0 0 0px 0;
	display: block;
	text-align: left;
	margin: 0 0 30px;
	min-height: 100px;
	background-color: #FFFFFF;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: 400ms ease;
	border-radius: 8px;
	-webkit-box-shadow: 0px 10px 82px 4px rgba(151, 170, 180, 0.24);
	-moz-box-shadow: 0px 10px 82px 4px rgba(151, 170, 180, 0.24);
	box-shadow: 0px 10px 82px 4px rgba(151, 170, 180, 0.24);
}