.team-box {
	text-align: center !important;
}
.team-box h5 {
}
.display-1 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.2;
}
.display-2 {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.2;
}
.display-3 {
	font-size: 1.6rem;
	font-weight: 300;
	/* line-height: 1.2;
	*/
	margin-top: 10px;
	margin-bottom: 5px;
}
.display-4 {
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1 !important;
	padding-top: 1% !important;
	padding-bottom: 5% !important;
	text-align: center !important;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
